@font-face {
  font-family: "daily";
  src: url("../assets/fonts/Daily.otf") format("opentype");  }

@font-face {
font-family: "choco";
  src: url("../assets/fonts/DoubleChocolate.otf") format("opentype"); }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%; }


#main {
  background: url("../assets/images/fondoWeb.png") fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  font-family: "neutraTextBold", sans-serif;
  padding: 0 1em;}

.otherTypo { 
font-family: choco!important;
      font-size: 0.6em!important;
}   
  
#babyShower {
  font-family: choco;
  color: #9685B2;
  font-size: 5em;
  font-weight: initial;
} 

#estefanaName {
  font-family: choco;
  color: #E7D7FF;
  font-size: 6em;  
  font-weight: initial;
}


.fontChocolate {
  font-family: daily;
  font-weight: initial;
}

h2.white {
  color: #fff!important;
}

div.fixed {
  position: fixed;
  top: 0;
  right: 0;
}

.estefanaNave {
  height: 10em;
}

div.fixed2 {
  position: fixed;
  bottom: 0;
  left: 0;
}

.elyNave {
  height: 10em;
}

.babyName {
  height: 5em;
  margin-top: 1em;
  z-index: 1000;
}

.babyEstefana {
  height: 5em;
}

#title {
  color: #fff;
  font-family: daily;
  font-size: 2.2em;
  margin-top: 0;
  text-align: center; 
  padding: 0 2em;
  font-weight: 100;
  margin-top: 1.5em;}

#title2 {
    font-family: daily;
    font-size: 2.2em;
    margin-top: 0;
    text-align: center;
    padding: 0 1.2em;
    font-weight: 100; }

#text {
  color: #E7D7FF;
font-family: daily;
font-size: 1.5em;}

#textAdress {
  color: #E7D7FF;
  font-size: 2.2em;
  text-align: center;
      margin: 0;
}  

  

#icons {
  display: inline-block; }
.baby {
  width: 35%;
  margin-top: 6em; 
}
.date {
  width: 50%;
}
.social-network-icon {
  background-color: #883A53;
  border-radius: 3em;
  display: inline;
  height: 5em;
}

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2em;
  }

#ultimaFila {
  margin-bottom: 16em;
}

  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%!important;
    flex: 1;
    text-align: center;
  }
  
  .left-column {
  }
  
  .right-column {
  }

div#textAdress {
      border-top: 2px dotted #E7D7FF;
    padding-top: 0.3em;
      width: 100%;
}

@media all and (min-width: 880px) {
  #logo {
    width: 55%; } 
#main {
    background-position: center;}
  .column {
    flex-basis: 50%!important;}

}
